[user]
	name = kkata
	email = 14849535+kkata@users.noreply.github.com
[color]
	ui = auto
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch

[merge]
tool = sublimerge

[mergetool "sublimerge"]
cmd = subl -n --wait \"$REMOTE\" \"$BASE\" \"$LOCAL\" \"$MERGED\" --command \"sublimerge_diff_views\"
trustExitCode = false

[diff]
tool = sublimerge

[difftool "sublimerge"]
cmd = subl -n --wait \"$REMOTE\" \"$LOCAL\" --command \"sublimerge_diff_views {\\\"left_read_only\\\": true, \\\"right_read_only\\\": true}\"
[core]
	attributesfile = ~/.gitattributes
	editor = nano
	symlinks = true
	excludesfile = ~/.gitignore_global
[diff "image"]
	command = ~/bin/git-imgdiff
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
