[user]
	name = kkata
	email = 14849535+kkata@users.noreply.github.com
[color]
	ui = auto
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch

[core]
	attributesfile = ~/.gitattributes
	editor = nano
	symlinks = true
	excludesfile = /Users/kk/.gitignore_global
	pager = delta --dark
[diff "image"]
	command = ~/bin/git-imgdiff
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[diff "sjis"]
	textconv = iconv -f sjis

[ghq]
    root = ~/.ghq

